<div class="card text-center">
  <div class="card-header">
<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item"><a class="nav-link active" routerLink ="/details"> details</a></li>
  <li class="nav-item"><a class="nav-link" routerLink ="/posts"> Posts</a></li>
  <li class="nav-item"><a class="nav-link" routerLink ="/productlist">Product Lists </a></li>
  <li class="nav-item"><a class="nav-link" routerLink ="/usercomp">User </a></li>
  <li class="nav-item"><a class="nav-link" routerLink ="/rootcomp">Root Dynamic </a></li>
  <li class="nav-item"><a class="nav-link" routerLink ="/pricetag/dhiva">Price Tag </a></li>
</ul>
<!-- router outlet to display -->
<router-outlet></router-outlet>
</div>
</div>
