<form>
<!-- add books -->
<p>
  Id: <input type="number" #id>
</p>
<p>
  Name: <input type="text" #name>
</p>
<p>
<button (click)="add(id.value,name.value)">submit</button>

<!-- list books -->
</p>
  <ul>
    <li *ngFor="let value of list">
      {{ value.id }}
      {{ value.name }}
       <input type ="button" value ="Edit" (click) =edit(value.id,value.name)>
       <input type ="button" value ="Delete" (click)=delete(value.id)>
    </li>
  </ul>
<!-- edite/update books  -->
<div *ngIf="edited">
    <p>
        Id: <input type="text" disabled=true value = {{editedid}} #editedidval>
      </p>
      <p>
        Name: <input type="text" value= {{editedname}} #editednameval>
      </p>
      <p>
      <input type="button" value="update" (click)=update(editedidval.value,editednameval.value)>
      </p>
</div>
</form>
